<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body>

    <div class="contenedor">

        <h1>Nuevo Usuario</h1>

        <form class="formulario">

            <div class="fila">
                <label>Nombre</label>
                <input type="text">
            </div>

            <div class="fila">
                <label>E-mail</label>
                <input type="email">
            </div>

            <div class="fila">
                <label>Contraseña</label>
                <input type="password">
            </div>

            <div class="fila">
                <label>Conf. Contraseña</label>
                <input type="password">
            </div>

            <div class="fila">
                <label>Tipo de Usuario</label>

                <select>
                    <option>Administrador</option>
                    <option selected>Usuario</option>
                </select>
            </div>

            <button class="btn">Crear</button>

        </form>

    </div>

</body>

</html>