body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f4f4f4;
    margin:0;
    padding:20px;
    text-align:center;
}

h1{
    color:#d62828;
}

.contenedor{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
}

.card{
    width:250px;
    background:white;
    border-radius:12px;
    padding:20px;
    box-shadow:0 0 10px rgba(0,0,0,.2);
}

.card img{
    width:150px;
    height:150px;
}

.card:hover{
    transform:scale(1.05);
    transition:.3s;
}

.error{
    margin-top:100px;
}

.error h1{
    font-size:70px;
    color:red;
}

.error a{
    display:inline-block;
    margin-top:20px;
    text-decoration:none;
    background:#007bff;
    color:white;
    padding:10px 20px;
    border-radius:5px;
}